# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
venv/

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Environment variables
.env

# Ignore migrations
**/migrations/